body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.circle {
	border-radius: 50%;
	width: 25px;
	height: 25px; 
	border: 1px solid black;
	/* width and height can be anything, as long as they're equal */
}


input[type=range] {
	display: block;
}

.section {
	padding: 1em;
}